<section id="about">
    <div class="container">
        <h2 class="title"><strong>{{'about.title' | translate}}</strong></h2>
        <span class="bar-title"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center" data-aos="fade-right">
                <picture>
                    <img src="assets/images/profile.jpg" alt="photo of profile" class="img-fluid">
                </picture>
                <div class="d-flex justify-content-center">
                    <a class="btn-social-media" href="https://www.linkedin.com/in/sunny-kshetri-4a891310b/" rel="tooltip"
                        target="_blank" title="{{'about.followMeOn' | translate}} Linkedin">
                        <i class="fa fa-linkedin fa-lg "></i>
                    </a>
                    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
                        href="https://github.com/kshetrisunny/" rel="tooltip" target="_blank"
                        title="{{'about.followMeOn' | translate}} GitHub">
                        <i class="fa fa-github fa-lg "></i></a>
                </div>
            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>{{'about.jobTitle' | translate}}</h3>
                <p class="font-italic">
                    {{'about.introductionOfMe' | translate}}
                </p>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="mapMarker"></fa-icon><strong>Pune,Maharastra, India</strong>
                            </li>
                            <!-- <li>
                                <fa-icon [icon]="building"></fa-icon><strong> Lens, France</strong>
                            </li> -->
                            <li>
                                <fa-icon [icon]="email"></fa-icon><strong><a href="mailto:kshetrisunny1@gmail.com">
                                    kshetrisunny1&#64;gmail</a></strong>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul>
                            <li>
                                <fa-icon [icon]="birthday"></fa-icon><strong> 21st August, 1991</strong>
                            </li>
                            <li>
                                <fa-icon [icon]="badge"></fa-icon><strong> MSc in Scientific Computing</strong>
                            </li>
                            <!-- <li>
                                <fa-icon [icon]="home"></fa-icon><strong> {{'about.myResearch' | translate}} </strong>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <p>
                    {{'about.researchDescription' | translate}}
                </p>
            </div>
        </div>
    </div>
</section>