<section id="home" class="d-flex flex-column section-content">
    <div class="hero-container aos-init aos-animate" data-aos="fade-in">
        <h1>Hello! My Name is,</h1>
        <h2>Sunny Kshetri</h2>
        <h3> <span class="typed"></span></h3>
    </div>
    <div class="description">
        <p> I bring over <a>~ 6 years of dedicated experience</a> in building software applications. 
            My expertise lies in the realm of frontend development, where I've honed my skills in  <a>HTML5, CSS3, and JavaScript, Angular, Ionic framework</a> to deliver seamless and visually appealing user experiences.
            Crafting and refactoring clean, reusable, and scalable code within the Angular environment.
            I specialize in developing web and hybrid mobile applications, with expertise in the ecommerce and manufacturing domains.
            I am eager to bring my skills and experience to a dynamic team where I can continue to contribute to impactful projects.
            </p>
    </div>
    <div>
        <button class="action-btn"><a class=" js-scroll-trigger smooth-scroll text-uppercase" href="#contact">Get In Touch</a></button>
    </div>
</section>
